*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    /* justify-content: center; */

}
#logo{
    margin: 4px 7px;

}
#logo img{
    height: 64px;
    margin: 6px;

}

#navbar ul{
    display: flex;
}
#navbar::before{
    color: white;
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: .4
    
}


#navbar ul li{
    font-size: 1.3rem;
    list-style: none;
}
#navbar ul li a{
    color: white;
    display: block;
    border-radius: 23px;
    text-decoration: none;
    padding: 1px 9px;
    margin: 11px;

}
#navbar ul li a:hover{
    background-color:white;
    color: black;
    border-radius: 23px;
    text-decoration: none;
    padding: 1px 9px;
    margin: 11px;

}
/* home section */
#home{
    height: 703px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    flex-direction: column;
    
    
}
#home::before{
    content: " ";
    height: 800px;
    width: 100%;
    background: url(../img/bg.jpg) center center/cover no-repeat ;
    position: absolute;
    z-index: -1;
    opacity: 0.89;
    top: 0;
    left: 0;
}
#home h1{
    color: white;
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}
/* utlity class */
.primary-sec{
    font-size: 3.1rem;
    padding: 20px;
}
.secondary{
    font-size: 2.1rem;
    padding: 14px;
}
.center{
    
    text-align: center;
    font-family: sans-serif;
}
.btn{
    cursor: pointer;
    outline: none;
    margin: 6px;
    color: white;
    border: 2px solid black;
    background: none;
    padding: 6px;
    font-size: 1.2rem;
    border-radius: 12px;
}
.btn:hover{
    outline: none;
    margin: 6px;
    color: gray;
    border: 2px solid rgb(1, 1, 12);
    background: none;
    padding: 6px;
    font-size: 1.2rem;
    border-radius: 12px;
}
/* Our services */
#services{
    display: flex;
    margin: 26px;
}   
.service-container{
    height: 489px;

    
    

}
#services .box img{
    display: block;
    height: 141px;
    margin: auto;
    
}
#services .box{
    
    

    border-radius: 20px;
    border: 2px solid black;
    margin: 5px 6px;
    padding: 23px;
}
#client-section{
    height: 350px;

}
#client-section::before{
    content: " ";
    height: 377px;
    position: absolute;
    width: 100%;
    background: url(../img/bg2.jpg) center center/cover no-repeat;
    z-index: -1;
    opacity: 0.7;
    

}
.client-item{
    padding: 34px;
}
#client{
    display: flex;
    justify-content: center;
    
    
}
#client img{
    height: 165px;

}
/* Contact us */
#contact{
    position: relative;
}
#contact::before{
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../img/bg1.jpg) center center/cover no-repeat;
    z-index: -1;
    content: "";
    opacity: 0.7;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box textarea,
#contact-box input{
    border-radius: 9px;
    outline: none;
    font-size: 1.3rem;
width: 100%;
padding: 0.5rem;
}
#contact-box form{
    font-family: sans-serif;
    width: 40%;
    
}
#contact-box label{
    font-family: sans-serif;
    font-size: 1.5rem;
}

footer{
    background-color: black;
    color: white;
    padding: 18px 6px;
    height: 60px;
}
